
     
    :root {
        --primary-text-color: #212121;
        --secondary-text-color: #757575;
        --accent-color: #2196F3;
        --primary-white-color: #ffffff;
        --footer-text-color: rgba(255, 255, 255, 0.6);
        --site-devs-text-color: rgba(255, 255, 255, 0.4);
        --secondary-bg-color: #F5F4FA;
        --work-title-bg: rgba(47, 48, 58, 0.8);
        --footer-bg-color: #2F303A;
        --clients-logos-bg: #AFB1B8;
        --ftr-social-logos-bg: rgba(255, 255, 255, 0.1);
        }
        /* General styles */
        body {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.03em;
        line-height: 1.14;
        color: var(--primary-text-color);
        background-color: var(--primary-white-color);
        }
        ul{
        list-style: none;
        }
        .link {
        text-decoration: none;
        color: var(--primary-text-color);
        }
        /* Logo  */
        .logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        }
        .logo.primary{
        font-size: 26px;
        line-height: 1.19;
        }
        .logo.secondary {
        font-size: 22px;
        line-height: 1.18;
        color: var(--primary-white-color);
        }
        .logo .logo-style {
        color: var(--accent-color);
        }
        /* Website nav */
        .nav {
        font-weight: 500;
        letter-spacing: 0.02em;
        }
        .nav-link:hover,
        .nav-link:focus {
            color: var(--accent-color);
        }
        .contacts-nav .link{    
        color: var(--secondary-text-color);
        }
        /* hero section */
        .hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--primary-white-color);
        background-color: black;
        }
        /* Button */
        .button {
        font-size: 16px;
        text-decoration: none;
        }
        .button.primary {
        font-weight: 700;
        line-height: 1.87;
        letter-spacing: 0.06em;
        color: var(--primary-white-color);
        background-color: var(--accent-color);
        }
        .button.secondary {
        font-weight: 500;
        line-height: 1.62;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        background-color: var(--secondary-bg-color);
        }
        .button.secondary:hover,
        .button.secondary:focus {
        color: var(--primary-white-color);
        background-color: var(--accent-color);
        }
        /* Uppercase titles */
        .uptitle {
        font-size: inherit;
        font-weight: 700;
        text-transform: uppercase;
        }
        /* features */
        .uptitle.features-title {
        color: var(--primary-text-color);
        }
        .features-text {
        line-height: 1.71;
        color: var(--secondary-text-color);
        }
        /* General section title*/
        .section-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        color: var(--primary-text-color);
        }
        /* Work section */
      
        
        /* Team section */
        .team {
        font-size: 16px;
        line-height: 1.19;
        }
        .team .team-members-name {
        font-size: inherit;
        font-weight: 500;
        color: var(--primary-text-color);
        }
        .team .team-members-position {
        color: var(--secondary-text-color);
        }
      
        /* Footer */
        .page-footer {
        background: var(--footer-bg-color);
        }
        /* address */
        .address .link{
        font-style: normal;
        line-height: 1.71;
        color: var(--footer-text-color);
        }
        .address .link.address-location {
        color: var(--primary-white-color);
        }
        /* Subscription */
        .uptitle.signup-title {
        color: var(--primary-white-color);
        }
        .site-devs {
        font-size: 12px;
        line-height: 2;
        color: var(--site-devs-text-color);
        }
        /* Portfolio page */
        .site-nav .link.current {
            color: var(--accent-color);
        }
        .portfolio-sample {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--primary-text-color);
        }
        .portfolio-info {
        font-size: 16px;
        line-height: 1.87;
        color: var(--secondary-text-color);
        }
        .portfolio-description {
        font-size: 18px;
        line-height: 1.56;
        
        color: var(--primary-white-color);
        background-color: var(--accent-color);
        } 
